@{
  Layout = "_Layout";
}

@model Market.Models.Flavor

<h1>Add a new flavor</h1>
<br>
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Description, "Flavor")
    @Html.TextBoxFor(model => model.Description)

    @* @Html.Label("Select treat")
    @Html.DropDownList("TreatId") *@

    <input type="submit" value="Add new flavor" />
}
<br>
<h4>@Html.ActionLink("Show all flavors", "Index")</h4>