@{
  Layout = "_Layout";
}

@using Market.Models;
@model List<Market.Models.Treat>

<h3>CheckOut</h3>
<hr />
@* @foreach (Treat treat in Model)
{
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)

    @Html.LabelFor(model => model.Flavor)
    @Html.TextBoxFor(model => model.Flavor)

    @Html.Label("Quantity")
    @Html.TextBoxFor(model => model.Quantity)


} *@
<hr />
@* <p>@Html.ActionLink("Add another Treat", "Index")</p> *@
<p>@Html.ActionLink("Home", "Index", "Home")</p>
